/* Custom badges */
#chat #chat-messages [data-cid^="3964410-"] .badge-box i {
    background-image: url(https://chilloutmusica.github.io/cm/src/badges/20793866.gif);
    background-size: cover;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 0;
}

#chat #chat-messages [data-cid^="3548312-"] .badge-box i {
    background-image: url(https://static.planetminecraft.com/files/avatar/204709.gif);
    background-size: cover;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 0;
}

#chat #chat-messages [data-cid^="30410098-"] .badge-box i {
    background-image: url(https://chilloutmusica.github.io/cm/src/badges/4150521.gif);
    background-size: cover;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 0;
}


#chat #chat-messages [data-cid^="23424232-"] .icon,
#chat #chat-messages [data-cid^="14034606-"] .rcs-user-info,
#chat #chat-messages [data-cid^="6115389-"] .icon,
#chat #chat-messages [data-cid^="6115389-"] .rcs-user-info,
#chat #chat-messages [data-cid^="5010887-"] .icon,
#chat #chat-messages [data-cid^="5010887-"] .rcs-user-info,
#chat #chat-messages [data-cid^="5975194-"] .icon,
#chat #chat-messages [data-cid^="5975194-"] .rcs-user-info {
    display: none;
}

#chat .cm:not(.moderation):not(.rsshit):not(.user-action) .badge-box.no-badge i:not(.icon-plugcubed) {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 16px;
    height: 16px;
    border: 2px solid #444A59;
    border-radius: 50%;
}

#chat .badge-box {
    background: rgba(0, 0, 0, 0) !important;
}

/* Custom icons */
#chat #chat-messages [data-cid^="3712531-"] .from .un.clickable:after {
    content: " "url("https://chilloutmusica.github.io/cm/src/icons/custom/feelsbadman.png");
    position: absolute;
}

#chat #chat-messages [data-cid^="6691756-"] .from .un.clickable:after {
    content: " "url("https://chilloutmusica.github.io/cm/src/icons/custom/fish.png");
    position: absolute;
}

#chat #chat-messages [data-cid^="6608098-"] .from .un.clickable:after {
    content: " "url("https://chilloutmusica.github.io/cm/src/icons/custom/cherries.png");
    position: absolute;
}

/* Custom colors */
#chat #chat-messages [data-cid^="3242323-"] .from .un,
#chat #chat-messages [data-cid^="4538423-"] .from .un,
#chat #chat-messages [data-cid^="3806819-"] .from .un,
#chat #chat-messages [data-cid^="3798150-"] .from .un {
    /*color: #72C6D7!important;*/
    text-shadow: 1px 1px 0 #000;
}
