/* MENSAGEM DO CHAT COM IMAGEM DE FUNDO */
/* Smygou */

.cm.message.deletable.id-3548312::before,
.cm.message.id-3548312::before {
	background-image: url(https://i.imgur.com/aXJr6HG.jpg);
	background-repeat: no-repeat;
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: .5;
	z-index: -1;
	background-position-y: -10px;
	background-position-x: right;
}


/* Fellipe */
.cm.message.deletable.id-3964410::before,
.cm.message.id-3964410::before {
	background-image: url(https://i.imgur.com/aXJr6HG.jpg);
	background-repeat: no-repeat;
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: .5;
	z-index: -1;
	background-position-y: -10px;
	background-position-x: right;
}





/* BADGE NO PERFIL */
/* Smygou */

#user-rollover.id-3548312 .badge-box i { 
background-image: url(https://i.imgur.com/QNNkaFy.gif) !important;
    background-size: cover;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 0;
}

#user-rollover.id-3548312 .meta {
    height: 145px!important;
}

#user-rollover.id-3548312 .joined:after {
    position: absolute;
    content: 'Astronauta';
    background-image: url(https://i.imgur.com/bCqxRM2.png);
    background-repeat: no-repeat;
    position: absolute;
    color: #00799E!important;
    margin: 47px 0 0 -96px;
    padding-left: 21px!important;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
}

/* Fellipe */

#user-rollover.id-3964410 .badge-box i { 
background-image: url(https://i.imgur.com/5Sz0ix6.jpg) !important;
    background-size: cover;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 0;
}

#user-rollover.id-3964410 .meta {
    height: 145px!important;
}

#user-rollover.id-3964410 .joined:after {
    position: absolute;
    content: 'Astronauta';
    background-image: url(https://i.imgur.com/bCqxRM2.png);
    background-repeat: no-repeat;
    position: absolute;
    color: #00799E!important;
    margin: 47px 0 0 -96px;
    padding-left: 21px!important;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
}
