/* Tema do another universe, antes de usar entre em contato com o player "Smygou".
*/

@import url("https://cdn.rawgit.com/Smygou/PLUGDJAGORAVAI/9819eb79/DJ.css");
@import url("https://cdn.rawgit.com/Smygou/PLUGDJAGORAVAI/e0d6833e/DashPainel.css");
@import url("https://cdn.rawgit.com/Smygou/PLUGDJAGORAVAI/d357485f/icones.css");
@import url("https://cdn.rawgit.com/Smygou/PLUGDJAGORAVAI/f5e62b49/message.css");
@import url("https://cdn.rawgit.com/Smygou/PLUGDJAGORAVAI/09d0a425/Playlist.css");
@import url("https://cdn.rawgit.com/Smygou/PLUGDJAGORAVAI/ec16d405/Menus.css");
@import url("https://cdn.rawgit.com/Smygou/PLUGDJAGORAVAI/2ceb1a20/RESIDENTE.css");
@import url("https://cdn.rawgit.com/Smygou/PLUGDJAGORAVAI/8abe101c/LIKEDESLIKEGRAB.css");
@import url("https://cdn.rawgit.com/Smygou/PLUGDJAGORAVAI/8c37aa54/emgeral.css");


#footer #footer-user .info {
    z-index: 0!important;
}

#footer-user .buttons {
    z-index: -2!important
}

#footer-user {
    z-index: -1!important
}

.thumb.medium .avi {
    left: -24px!important;
}

.thumb .background {
    background: transparent!important
}
